@font-face {
    font-family: TerminalFont;
    src: url(fonts/Ubuntu\ Mono\ Nerd\ Font\ Complete\ Mono.ttf);
}

body {
    font-family: TerminalFont;
    counter-reset: line;
    background-color: #262626;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.cursor {
    background-color: white !important;
    color: black;
}

.cursorline::before {
    color: #4979ff !important;
}
.cursorline {
    background-color: #343434;
}

.char {
    display: inline-block;
    white-space: nowrap;
}

.keyWord {
    color : #92c5f7 !important;
}

.specialWord {
    color: #dad085 !important;
}

.word {
    display: inline-block;
    white-space: nowrap;
}

.lineEnd {
    display: inline-block;
}

.lastChar {
    background-color: #464646;
    color: #a62626;
}

.line {
    white-space: nowrap;
    color: #ffffff;
    font-size: 16px;
}

.line::before {
    color: #464646;
    background-color: #363636;
    counter-increment: line;
    display: inline-block;
    width: 2em;
    padding-right: .5em;
    margin-right: .5em;
    text-align: right;
    content: counter(line);
}

.terminal {
    border: solid;
    border-radius: 25px;
    padding: auto;
    float: left;
    width: 45em;
    height: 90%;
    border-color: black;
    overflow: hidden;
    box-shadow: 3px 3px 3px black ;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}